.quill{
    height: 100%;
    width: 80%;
}
.ql-snow{
    background-color: rgba(255, 255, 255, 0.85);
}

.container--doc-details{
    height: 100%;
    width: 30%;
    margin-left: 1em;
    text-align: center;
}

.container--doc-details > div{
    margin-bottom: 1em;
}

.doc-details__title{
    padding: 1em;
    margin-bottom: 1em;
}

.doc-details__word-count{
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.word-count{
    font-size: 2em;
}

.doc-details__buttons {
    justify-content: space-evenly;
}

.doc-details__buttons > button{
    width: 100%;
    padding: 0.75em 1em;
}

.doc-details__buttons > button:first-child{
    margin-right: 1em;
}