.rdw-editor-main{
    height: 70vh;
    max-width: 750px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.rdw-editor-toolbar{
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.rdw-editor-toolbar > div{
    background: none;
}

.rdw-option-wrapper{
    background: none;
}

.container--doc-details{
    height: 100%;
    max-width: 300px;
    margin-left: 1em;
    text-align: center;
}

.container--doc-details > div{
    margin-bottom: 1em;
}

.doc-details__title{
    padding: 1em;
    width: 100%;
    height: fit-content;
    margin-bottom: 1em;
    font-size: 1em;
}

.doc-details__word-count{
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.word-count{
    font-size: 2em;
}

.doc-details__buttons {
    justify-content: space-evenly;
}

.doc-details__buttons > button{
    width: 100%;
    padding: 0.75em 1em;
}

.doc-details__buttons > button:first-child{
    margin-right: 1em;
}