.glass-effect{
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.668);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.075);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.075);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.075);
}

.glass-effect:hover{
    background-color: rgba(255, 255, 255, 0.35);
}

.container--flex{
    display: flex;
    flex-wrap: wrap;
    
}

.project-thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 150px;
    height: 150px;
    margin: 1em;
    border-radius: 5px;
    font-size: 0.85em;
    text-align: center;
    cursor: pointer;
}

.fa-folder{
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 2em;
}