*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
body{
    position: relative;
    min-height: 100vh;
    height: 100%;
    font-size: 16px;
    color: #252525;
    background-color: rgb(255, 255, 255);
    
}

body::before{
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-image: url('images/bg.jpg');
    background-size: cover;
    opacity: 0.75;
}

.App{
    max-width: 1100px;
    padding: 3em;
    margin: auto;
}

.page__header{
    display: flex;
    margin-bottom: 3em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: center;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0)) 27;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

h1{
    font-size: 1.15em;
}

button{
    position: relative;
    top: 0;
    margin-left: 2em;
    padding: 0.5em .75em;
    border: none;
    border-radius: 3px;
    color: #252525;
    cursor: pointer;
}

.button--white{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.668);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    transition: all 300ms ease-in;
}

.button--white:hover{
    background-color: rgba(255, 255, 255, 0.70);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 0.9);
}

.container--page{
    position: relative;
}

.container--buttons{
    position: absolute;
    bottom: 4em;
    right: 4em;
}

