*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    position: relative;
    z-index: 10;
    height: 100vh;
    font-size: 16px;
    color: #494949;
    background-image: url('images/bg.jpg');
    background-size: cover;
}

.App{
    max-width: 1100px;
    padding: 3em;
    margin: auto;
}

.page__header{
    display: flex;
    margin-bottom: 3em;
    justify-content: space-between;
    align-items: center;

}

h1{
    font-size: 1.15em;
    font-weight: 500;
}

button{
    position: relative;
    top: 0;
    margin-left: 2em;
    padding: 0.5em .75em;
    border-radius: 3px;
    border: 1px solid #494949;
    background: none;
    cursor: pointer;
    transition: all 100ms linear;
}

.container--page{
    position: relative;
}

.container--buttons{
    position: absolute;
    bottom: 4em;
    right: 4em;
}

